# dependencies
/node_modules
/.pnp
.pnp.js

# testing & coverage
/coverage

# next.js build output
/.next/
/out/
/build

# production static output
dist

# misc & OS
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel & netlify build cache
.vercel
.netlify
